Source: ros-lunar-depth-image-proc
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-lunar-catkin, ros-lunar-cmake-modules, ros-lunar-cv-bridge, ros-lunar-eigen-conversions, ros-lunar-image-geometry, ros-lunar-image-transport, ros-lunar-message-filters, ros-lunar-nodelet, ros-lunar-rostest, ros-lunar-sensor-msgs, ros-lunar-stereo-msgs, ros-lunar-tf2, ros-lunar-tf2-ros
Homepage: http://ros.org/wiki/depth_image_proc
Standards-Version: 3.9.2

Package: ros-lunar-depth-image-proc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-lunar-cv-bridge, ros-lunar-eigen-conversions, ros-lunar-image-geometry, ros-lunar-image-transport, ros-lunar-nodelet, ros-lunar-tf2, ros-lunar-tf2-ros
Description: Contains nodelets for processing depth images such as those produced by OpenNI camera.
 Functions include creating disparity images and point clouds, as well as registering (reprojecting) a depth image into another camera frame.
